node_modules
.env
.DS_Store
coverage
npm-debug.log
yarn-error.log
.vscode
.idea
dist
build
*.sqlite
*.db
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
*.crt
*.p12
*.der